<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_D1wfVU0W7NVFEUxNsNNu7_dUDnhcj2k</string>
	<key>GCM_SENDER_ID</key>
	<string>31225390287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bible</string>
	<key>PROJECT_ID</key>
	<string>the-holy-bible-baptist</string>
	<key>STORAGE_BUCKET</key>
	<string>the-holy-bible-baptist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31225390287:ios:a6cd339d7ce8a6495ac3ba</string>
</dict>
</plist>